name: Helm Chart CI - Scraper Agent

on:
  pull_request:
    paths:
    - '.github/workflows/ci-agent-scraper.yml'
    - 'promitor-agent-scraper/**'

jobs:
  lint-helm-3-x:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Helm install
      uses: Azure/setup-helm@v1

    - name: Lint Promitor Scraper Helm chart
      run: helm lint promitor-agent-scraper

  deploy-helm-3-x:
    name: Deploy chart to Kind cluster
    needs: [lint-helm-3-x]
    runs-on: ubuntu-latest
    env:
      kubernetes_namespace: promitor
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Helm install
      uses: Azure/setup-helm@v1

    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.0.0

    - name: Show Kubernetes version
      run: |
        kubectl version

    - name: Show Helm version
      run: |
        helm version

    - name: Create Promitor namespace
      run: kubectl create ns ${{ env.kubernetes_namespace }}

    - name: Template Helm chart
      run: helm template promitor-agent-scraper ./promitor-agent-scraper/ --namespace ${{ env.kubernetes_namespace }}

    - name: Install Helm chart
      run: helm install promitor-agent-scraper ./promitor-agent-scraper/ --namespace ${{ env.kubernetes_namespace }}

    - name: Show installed Helm charts
      run: helm ls

    - name: Show Kubernetes resources
      run: kubectl get all --namespace ${{ env.kubernetes_namespace }}
